 body{
    padding: 6px;
    background-image: url(https://images.unsplash.com/photo-1573868507561-c859b3ce5818?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3687&q=80);
    background-size: 100%;
    text-align: center;
  }

 header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: darkgrey;
    border-radius: 8px;
    box-shadow: 4px 3px 2px black;
  }

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: bold;
    color: crimson;
    cursor: pointer;
    text-decoration: underline;
    text-indent: 8vw;
}

  p {
    font-size: 35px;
    margin: 0;
    font-style: italic;
    color: white;
  }

  #resultsP{
    color: black;
  }

  #searchResults{
    visibility: hidden;
  }

  /* CSS to style the search result items */


  #time{
    visibility: hidden;
  }

  #query{
    width: 300px;
    height: 40px;
  }

  #searchBtn{
    width: 100px;
    height: 50px;
    border-radius: 8px;
    }

  #searchBtn:hover{
      background-color: gray;
      color: black;
  }

  #timeButton{
    width: 100px;
    height: 50px;
    border-radius: 8px;
  }

#timeButton:hover {
    background-color: gray;
    color: black;
}